# Analyzing US Economic Data and Building a Dashboard
 Description
Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some essential economic indicators from some data, you will then display these economic indicators in a Dashboard. You can then share the dashboard via an URL.

Gross domestic product (GDP) is a measure of the market value of all the final goods and
services produced in a period. GDP is an indicator of how well the economy is doing.
A drop in GDP indicates the economy is producing less; similarly an increase in GDP suggests the economy is performing better. 
In this lab, you will examine how changes in GDP impact the unemployment rate. 
You will take screen shots of every step, you will share the notebook and the URL pointing to the dashboard.

In [2]:
import pandas as pd
from bokeh.plotting import figure, output_file, show

In [6]:
def make_dashboard(x, gdp_change, unemployment, title, file_name):
    output_file(file_name)
    p = figure(title=title, x_axis_label='year', y_axis_label='%')
    p.line(x.squeeze(), gdp_change.squeeze(), color="firebrick", line_width=4, legend="% GDP change")
    p.line(x.squeeze(), unemployment.squeeze(), line_width=4, legend="% unemployed")
    show(p)

In [4]:
links={'GDP':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_gdp.csv',\
       'unemployment':'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/projects/coursera_project/clean_unemployment.csv'}

## Question 1: Create a dataframe that contains the GDP data and display the first five rows of the dataframe.

In [5]:
df_gdp=pd.read_csv(links["GDP"])

# Use the method head() to display the first five rows of the GDP data, then take a screen-shot.

In [33]:
df_gdp.head()

   date  level-current  level-chained  change-current  change-chained
0  1948          274.8         2020.0            -0.7            -0.6
1  1949          272.8         2008.9            10.0             8.7
2  1950          300.2         2184.0            15.7             8.0
3  1951          347.3         2360.0             5.9             4.1
4  1952          367.7         2456.1             6.0             4.7

Create a dataframe that contains the unemployment data. Display the first five rows of the dataframe using the method head() and take a screen shot.

In [9]:
df_unemp=pd.read_csv(links['unemployment'])

In [10]:
df_unemp.head()

   date  unemployment
0  1948      3.750000
1  1949      6.050000
2  1950      5.208333
3  1951      3.283333
4  1952      3.025000

## Question 3: Display a dataframe where unemployment was greater than 8.5%. Take a screen-shot.

In [11]:
df_unemp85=df_unemp[df_unemp['unemployment']>8.5]
df_unemp85.head()

    date  unemployment
34  1982      9.708333
35  1983      9.600000
61  2009      9.283333
62  2010      9.608333
63  2011      8.933333


## Question 4: Use the function make_dashboard to make a dashboard
In this section, you will call the function make_dashboard , to produce a dashboard. We will use the convention of giving each variable the same name as the function parameter.

Create a new dataframe with the column 'date' called x from the dataframe that contains the GDP data.

In [13]:
x = df_gdp['date']
x.head()

0    1948
1    1949
2    1950
3    1951
4    1952
Name: date, dtype: int64

Create a new dataframe with the column 'change-current'  called gdp_change from the dataframe that contains the GDP data.

In [14]:
gdp_change = df_gdp['change-current']
gdp_change.head()

0    -0.7
1    10.0
2    15.7
3     5.9
4     6.0
Name: change-current, dtype: float64

Create a new dataframe with the column 'unemployment'  called unemployment from the dataframe that contains the unemployment data.

In [15]:
unemployment = df_unemp['unemployment']
unemployment.head()

0    3.750000
1    6.050000
2    5.208333
3    3.283333
4    3.025000
Name: unemployment, dtype: float64

Give your dashboard a string title, and assign it to the variable title

In [16]:
title = 'Data of GDP and Unemployment rate'

Finally, the function make_dashboard will output an .html in your direictory, just like a csv file. The name of the file is "index.html" and it will be stored in the varable file_name.

In [17]:
file_name = "index.html"

Call the function make_dashboard , to produce a dashboard. Assign the parameter values accordingly take a the , take a screen shot of the dashboard and submit it.

In [18]:
make_dashboard(x=x, gdp_change=gdp_change, unemployment= unemployment, title=title, file_name=file_name)